.panel-box {
    padding: 15px 15px 5px 15px;
  	background: #fff;
    border: 1px solid #d3e0e9;
    border-radius: 4px;
    margin-bottom: 15px;
}
.panel-split {
	display: flex; 
	justify-content: space-between; 
	align-items: center;
}
.panel-component-heading {
	font-size: 16px;
	font-weight: 600;
}
